body{
  margin: auto;
}
.top-container{
  display: flex;
  justify-content: space-around;
  margin-right: 5%;
  margin-top: 5%;
}
.dropDown-section{
  display: flex;
  align-items:center;
  flex-direction: column;
  justify-content: space-around;
}
.liveStatus{
  font-size: 60px;
}
.liveStatus-heading{
  margin-left: 8%;
}